 /* ------ Header Section of Page */
 header>h5 {
     font-size: 0.9rem;
 }

 header>img {
     width: 8%;
 }

 .cart-box>p {
     width: 1.7rem;
     font-size: 0.8rem;
     border-radius: 40%;
     box-shadow: inset 2px 1px 9px 3px #d1c6c6;
     transition: 0.5s;
 }

 /* ------ Cart Fill up Section */
 .success-msg {
     border-radius: 8px;
     display: none;
     width: 75%;
     font-size: 0.6rem;
 }


 .item-input-box {
     width: 90%;
     box-shadow: 2px 2px 17px 4px #cbc8c8;
     border-radius: 3%;
 }

 .item-input-box>div {
     border-bottom: 1px solid black;
     margin-top: 0.8rem;
 }

 input, select {
     width: 100%;
     border: none;
     text-align: center;
     font-size: 0.8rem;
 }

 select {
     width: 40%;
     border: none;
 }

 *:focus {
     outline: none;
 }

 .cart-form-button>button {
     width: 100%;
 }


 .cart-info {
     height: 73vh;
     overflow-y: scroll;
     width: 90%;
     margin: auto;
     padding: 0 0.75rem;
 }

 .cart-item h6 {
     font-size: 14px;
 }

 .print {
     display: none;
 }

 .cart-data {
     font-size: 12px;
     border-radius: 10px;
     background: #d0e5a6;
     box-shadow: inset 1px 1px 10px 1px green;
 }

 .delete-item {
     font-size: 16px;
     padding: 4px 0;
     border-radius: 11px;
     background: #34684b;
 }

 ::-webkit-scrollbar {
     width: 5px;
 }

 ::-webkit-scrollbar-track {
     background: rgb(238, 237, 237);
 }

 ::-webkit-scrollbar-thumb {
     background: green;
     border-radius: 5px;
 }

 @media print {
     .print {
         display: block;
     }

     .not-print {
         display: none !important;
     }

     .cart-data {
         background: white !important;
         border-radius: 0;
         box-shadow: none;
         padding: 0;
         border-bottom: 1px solid black;
     }

     .cart-info {
         height: auto;
         overflow-y: hidden;
     }
 }

 @media screen and (min-width:480px) {

     header>h5, header>i {
         font-size: 1.5rem !important;
     }

     .cart-box>p {
         width: 2rem;
         font-size: 0.9rem;
     }

     header>img {
         width: 5%;
     }

     .success-msg {
         font-size: 1rem;
         width: 80%;
     }

     .item-input-box {
         border-radius: 2%;
         width: 65%;
     }

     input, select {
         font-size: 1rem;
     }

     .show-cart-button {
         flex-direction: row !important;
         justify-content: space-around !important;
     }

     .show-cart-button>button {
        width: 30%;
     }

     .cart-data {
         font-size: 16px;
     }

     .cart-item h6 {
         font-size: 16px;
     }

     .cart-info {
         width: 85%;
     }
 }

 @media screen and (min-width:800px) {

     header>img {
         width: 3%;
     }

     .item-input-box {
         width: 60%;
     }

     .cart-form-button>button {
         width: 25%;
     }

     .cart-info {
         width: 50%;
     }
 }