 
header>img{
    width: 10%;
} 
.cart-box>p{  
    font-weight: bold;
    background: white;
    color: black;
    width: 1.8rem;
    text-align: center;
    border-radius: 40%; 
    box-shadow: inset 2px 1px 9px 3px #d1c6c6;
    transition: 0.5s;
}
.item-input-box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    box-shadow: 2px 2px 17px 4px #cbc8c8;
    padding: 2rem;
    margin: 1.5rem auto;
}
 input ,  select{
    border: none; 
    border-bottom: 1px solid black;
    margin-top: 1.2rem;
    text-align: center;
}
.item-input-box>div{
    margin-top: 1.2rem;
}
.item-input-box>div>input , .item-input-box>div>select{
    margin: 0;
}
*:focus {
    outline: none;
}
select>option{
    text-align: left;
    background : rgb(171, 206, 240);
    color: black;
    font-weight: bold;
}
select>option:selected{
    background: red;
}
.success-msg{
    border-radius: 8px;
    display: none;
    opacity: 1; 
    width: 90%;
    font-weight: bold;
    color: white;
    text-align: center;
} 

#CartItemSection{
    height: 73vh;
    overflow-y: scroll;
}
.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
}
.cart-item h6 , .cart-item p{
    margin: 0;
}

@media screen and (min-width:480px){
    header>h5,header>i{
        font-size: 1.5rem !important;
    }
    .cart-box>p{ 
        width: 2rem;
    } 
    header>img{
        width: 5%;
    }
}
@media screen and (min-width:800px){
    .item-input-box{
        width: 60%;
    }
    header>img{
        width: 3%;
    }
}

@media print{
    @page{
        size: a4 
    }
    header{
        display: none;
    }
    .CartDetail>div:first-child{
        display: none;
    }
}